body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   margin: 0px;
   color: #444;
}
.email-container {
  padding: 15px;
  background: #f3f3f3;
  max-width: 500px;
  a {
     color: #0740C1;
  }
  p {  margin: 4px 0; padding:0}
  table {width: 100%}


  .pall-header {
    color: #929697;
    .logo {
      width: 15%;
    }
    .title {
      width: 65%;
      font-size: 16px;
    }
    .link {
      width:15%;
      text-align: right;
      font-size: 16px;
    }
  }

  .header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .desc {
    padding: 10px 0;
  }

  .orders {
    border-top: 1px solid rgba(200, 200, 200, 0.8);
    border-bottom: 1px solid rgba(200, 200, 200, 0.8);
  }
  .contact {
    margin: 8px 0;
    padding: 10px;
    background-color:#FEF7E5;
  }

  .products {
    table { border-collapse: collapse; }
    .item {
      border-top: 1px solid rgba(200, 200, 200, 0.8);
      border-bottom: 1px solid rgba(200, 200, 200, 0.8);
    }
  }

  .helpbox {
    background: #0740C1;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-top:10px;

    a { text-decoration: underline; color: white;}

    button {
      display: inline-block;
      border:2px solid #1183EF;
      background-color: #0057C0;
      margin: 10px 0;
      padding: 8px 14px;
      color: white;
      border-radius: 999px;
    }
  }

  footer {
    margin: 10px 0;
  }

}