@import '../topnav2';
@import '../carousel';
@import '../tabnav';
@import '../variables';
@import '../global';
@import 'overview';
@import 'single-specs';
#product-page{
		html {
			font-size: 100%;
		}

		@media (min-width: 1200px) {
			.container {
				width: 1260px !important;
			}
		}

		@media (max-width: 420px) {
			.hidden-mobile {
				display: none !important;
			}
		}
}