#product-page{
  .single__overview {

          @media (max-width: 991px) and (min-width: 767px) { .container {  width: 100%; } }
          
          background: #F7F7F7;
          
          a {font-size: 16px; font-weight: normal;}

          hr {border-top: 1px solid #ddd; padding: 1px}

          // qty form input 
          .input-quantity {
            display: inline-block;
            width: 45px;
            height: 34px;
            padding:0;
            padding-left: 4px;
            vertical-align: top;
          }

          .btn, .btn-primary {
            margin-bottom: 19px;
          }

          .font-xs { font-size: 9px; margin-top: 6px; }

          &__breadcrumbs { 
            padding: 8px 0px;
            margin-bottom: 10px;
            margin-top: 1.5rem;
            border-radius: 4px;
            span {
                padding-right: .75rem;
            }
          } // __breadcrumbs

          &__image {
            width: 100%;
            max-height: 20rem;
            background-image: url(https://shop.pall.com/INTERSHOP/static/WFS/PALL-PALLUS-Site/-/-/en_US/img/product-background.png);
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            overflow: hidden;

            .center {
              display:-webkit-box;
              display:-ms-flexbox;
              display:flex;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              -ms-flex-line-pack: center;
                  align-content: center;
            }

          } // __image

          &__title {
            h1 {
                font-size: 1.5625rem;
                margin:0 0 6px 0;
                font-weight: 700;
            } 
          } // __title

          &__documents {
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex; 
                -webkit-box-align:baseline; 
                  -ms-flex-align:baseline; 
                  align-items:baseline;
                -webkit-box-pack: start;
                  -ms-flex-pack: start;
                  justify-content: flex-start;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                  -ms-flex-flow: row wrap;
                  flex-flow: row wrap;
                  margin-bottom: 1rem;
                  @media (max-width: 550px) {
                    -webkit-box-orient:vertical;
                    -webkit-box-direction:normal;
                    -ms-flex-flow:column wrap;
                    flex-flow:column wrap;
                  }
                  
              i {
                  font-style: normal;
                  display:inline-block;
                  padding: 0 10px;
                  @media (max-width: 550px) {padding: 5px 0;}
              }
              a { padding-left: 4px;}
          } // __documents


          .price-addtocart-block { 
              display: block;
              background-color:#EAEEF7;
              margin-left: 0px;
              @lineheight: 30px;
              padding-bottom: 10px;
              padding: 10px 15px;
              @media (max-width: 321px) {padding: 0;}

              .fa {
                display:inline-block;
              }
      
              .addbox {
                div>span:first-child { text-decoration: line-through;  color: #b4b4b4; margin-right: 12%}
                .price {
                  display: inline-block;
                  font-size: 30px;
                  margin:0 10px 0 0;
                  i {font-size: 13px;}
                }
                a { color: white;}

                @media (max-width: 414px) {
                  padding-left: 12px;

                  div>span:last-child {
                    padding-left: 42px;
                  }
                }

              }
            } // price-addtocart-block

            &__quotes {
              margin-bottom: 15px;
                  .quote {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                        -ms-flex-flow: row wrap;
                            flex-flow: row wrap;
                    background-color: #EAEEF7;
                    border-bottom: 1px solid @pall-blue;
                    padding-top: 15px;

                    .qtnum, .qty, .exp {
                      width: 18%;
                      padding: 0 10px;
                      @media (max-width: 1199px) { width: 17% }
                      @media (max-width: 962px) { width: 15% }
                      @media (max-width: 830px) { width: 17% }
                      @media (max-width: 767px) { width: 30%}
                    }

                    .quote-price {
                      //padding-left: 5px;
                      @media (max-width: 1199px) { width: 17% }
                      @media (max-width: 962px) { width: 15% }
                      @media (max-width: 830px) { width: 15% }
                      @media (max-width: 767px) { width: 75%; text-align: right;padding-right: 15px;}
                      @media (max-width: 674px) { width: 65%; text-align: right;}
                      @media (max-width: 540px) { width: 40%; text-align: right; padding-left: 24px; text-align:left; }
                    }

                    .addbox {
                      @media (max-width: 1199px) { width: 25% }
                      @media (max-width: 962px) { width: 29% }
                      @media (max-width: 830px) { width: 32% }
                      @media (max-width: 767px) { width: 25% }
                      @media (max-width: 674px) { width: 32% }
                      @media (max-width: 540px) { width: 54% }
                    }

                      p {
                        margin: 0;
                        padding: 0;
                        padding-bottom: 8px;
                        line-height: 1.2;
                      }

                      .quote-price>p:nth-child(2) {
                        font-size: 18px;
                        @media (max-width: 767px) {font-size: 18px; padding-top: 6px;}
                        i {
                          font-size: 13px;
                        }
                      }

                      .th {height: 0px;padding: 0;font-weight: 600}
                      //(desktop only)
                      @media (min-width: 767px) {          
                          .th { 
                            color:transparent; // hide all column header by default 
                          }
                          &:first-child {
                          .th { height: auto; color: initial;} // only show column headers on first row  
                          p { padding-bottom: 12px }
                          }
        
                          div>p:nth-child(2) {
                              padding-top: 6px;
                          }
        
                          .quote-price>p:nth-child(2) {
                              font-size: 18px;
                              i {
                                font-size: 13px;
                              }
                          }
                      }

                      @media (max-width: 767px) {  
                        .th { height: auto; color: initial; padding-bottom: 8px;}
                        p { padding-bottom: 12px }
                      }
                  }
            }

            &__links {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient:horizontal;
              -webkit-box-direction:normal;
              -ms-flex-flow:row wrap;
              flex-flow:row wrap;
              -webkit-box-pack: start;
              -ms-flex-pack: start;
              justify-content: flex-start;
              
              background: #f7f7f7;
              padding: 0;
              padding-top: 1rem;

                  div.link {
                    padding: .5rem 1rem .5rem 1rem;
                    color: @pall-blue;
                    border-right: 1px solid darken(#eee, 6%);
                    @media (max-width: 755px){  width: 50% }
                    @media (max-width: 376px){  width: 100% }
                    .fa { margin-right: 8px; }
                    &:first-child { color:#3a7e07; }
                  }
                  div.link:last-child {border: none;}
            } // __links

            &__specs {
              margin: .5rem 0 1rem 0;
              @media (max-width: 550px) {
                div {width: 100%};
              }

              .spec-key {font-weight: 600;}
              .spec-value {
                @media (max-width: 768px) {text-indent: 15px;}
              }
            } // __specs

            &__similar {
              margin-bottom: 2rem;
              h3 { padding-left: 15px;}

              .sim-prod {
                @media (min-width: 768px) {padding-right:0;}

                &:last-child {
                  position:relative;
                  background-color: #EAEEf7;
                  color: @pall-blue;
                  padding: 15px 0 15px 45px;
                  .fa {
                    position: absolute;
                    top: 30%;
                    left: 10px;
                  }
                }
                .title {
                  font-size: 14px;
                  color: @pall-blue;
                }
                .price {
                  font-size: 16px;
                  font-weight: 500;
                }
                i {
                  font-size: 12px;
                }
              }
            } // __similar

            &__highlights {
              background-color: white;
              padding-bottom: 1.5rem; 
              @media (max-width: 500px) { p>span{ float:right; width: 90%;} }
              
              .fa { 
                  color: @pall-blue;
                  padding-right: 10px;
              }
          }
  } // .single__overview
}