#product-page{
  .single__specs {
    padding-top: 30px;
    background: url(https://shop.pall.com/INTERSHOP/static/WFS/PALL-PALLUS-Site/-/-/en_US/img/search-result-background.png) center top no-repeat;
    margin-bottom: 3rem;
    // background-color: #E7F6FB;

    // .single__specs--bg {
    //   height: 10px;
    //   padding-top: 30px;
    //   background: url(https://shop.pall.com/INTERSHOP/static/WFS/PALL-PALLUS-Site/-/-/en_US/img/search-result-background.png) center top no-repeat;
    // }
    
    
      .box-border {
        background-color: white;
        border: 1px solid #CCC;
        border-radius: 5px;
        -webkit-box-shadow: 4px 0px 4px 1px #DDD;
                box-shadow: 4px 0px 4px 1px #DDD;
        margin-bottom: 30px;
      }

      &__nav {

        li {
          position: relative;
          font-size: 16px;
          &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }
          &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          }
          padding: 10px 22px 10px 15px;
          border-bottom: 1px solid #ddd;
          font-weight: 600;
          i {
            position: absolute;
            top: 13px;
            right: 10px;
          }
        }
        li.active {
          background-color: @light-grayblue;
        }

        .cust-support {
          text-align: center;
          padding: 15px 0;
          margin-top:2rem;

          p {font-size: 14px;}

          .img { 
            display: block;
            overflow:hidden;
            margin:-60px auto 0px auto;
            width: 110px;
            height: 110px;
            background: transparent;
            background-image: url(customer-service-hex.png);
            background-position:center center;
            background-repeat:no-repeat;  
          }

          i {
            display: inline-block;
            width: 24%;
            @media (max-width: 1200px) {width: 18%}
            height: 6px;
            border-top: 2px solid @pall-blue;
          }
          h3 { 
            display: inline-block;
            margin-top:0;
            padding: 0 10px;
            color: @pall-blue;
            font-weight:700;
          }
          p.phone {
            font-weight: 600;
          }
          p.email{
            display: inline-block;
            border-bottom: 1px solid @pall-blue; 
            padding:10px 4px 2px 4px;
          }
          .email {
            color: @pall-blue;
            padding-top: 2rem;
          }
        }
        
      }
    
      &__card {
        background-color: white;
        margin-bottom: 15px;
        padding-bottom: 15px;
        h3 {margin-bottom: 0;}
        p:first-child {
          margin-top:15px;
          font-weight: 600;
        }
        .blue-text {
          margin-top:15px;
          color:@pall-blue;
        }
        .footnote {
          margin-top: 15px;
          font-size: 12px; 
          color: #888;
        }
      }

  } // end single__specs
}

