.search-result-wrapper {
	// existing element - no change

	background: url(https://shop.pall.com/INTERSHOP/static/WFS/PALL-PALLUS-Site/-/-/en_US/img/search-result-background.png)
		center top no-repeat;
	padding-top: 25px;

	.switch label .lever {
		background-color: @highlight;
	}

	h3 {
		font-size: 16px;
	}

	.filter-header {
		// new element and class. Top of left filter column
		background: #fff;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		padding: 0.5rem 0.75rem 0.125rem 0.75rem;
		font-weight: bold;

		h3 {
			display: inline-block;
			margin: 4px 0;
			font-size: 16px;
			font-weight: bold;
		}
		.filter-count {
			font-size: 20px;
		}
	}

	// css for filter accordions 
	#filter-accordion {
		.filter-group-title {
			padding: 10px;
		}

		.filter-group-title:not(.collapsed) {
			color: black;
			background-color: #e5e9ef;
			border-top: rgb(70, 70, 70);
			-webkit-transition: all 0.2s ease-in;
			transition: all 0.2s ease-in;
		}
		.filter-group-title.accordion-toggle::before {
			content: '\f00d';
			font-family: 'FontAwesome';
			float: right;
			font-size: 16px;
			color: crimson;
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: all 0.2s ease-in;
			transition: all 0.2s ease-in;
		}

		.filter-group-title.accordion-toggle.collapsed::before {
			color: black;
			-webkit-transform: rotate(-135deg);
			transform: rotate(-135deg);
			-webkit-transition: all 0.2s ease-in;
			transition: all 0.2s ease-in;
		}

		.filter-title {
			font-size: 16px;
		}
	}


    // Top of products column, online switch, sorting etc.
	.top-filter-sort-wrapper {
		// exisiting class - changed
		display:-webkit-box;display:-ms-flexbox;display:flex; 
		-webkit-box-pack: justify; 
		-ms-flex-pack: justify; 
		justify-content: space-between;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		padding: 0 0px 0 30px;
		@media (max-width: 992px) {padding-right: 15px;}
		margin-bottom: 10px;

		.switch {
			line-height: 18px;
		}

		.switch-desc {
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
			padding-left: 15px;
		}

		.sort-by {
			padding: 0;
		}
		
		// css for sort by select dropdowm
		.select-chevron {
			// new element. replaces .white-styled select
			position: relative;

			.form-control {
				//exisiting class. changed
				height: 30px;
				border-radius: 5px;
			}

			&:before {
				content: '';
				right: 5px;
				top: 4px;
				width: 23px;
				height: 23px;
				background: white;
				position: absolute;
				pointer-events: none;
				display: block;
			}
			&:after {
				content: '\f0d7';
				font-family: 'FontAwesome';
				font-size: 18px;
				color: #000;
				right: 7px;
				top: 3px;
				padding: 0 1px 2px 7px;
				position: absolute;
				pointer-events: none;
				border-left: 1px solid #ccc;
			}
		} // end css for sort dropdown

	}

	.select-reset-margin {
		// exisiting class
		line-height: 18px;
	}

	// product category cards
	.search__category {
		&__card {
			background: #fff;
			border: 1px solid #ddd;
			border-radius: 5px;
			-webkit-box-shadow: 6px 6px 6px -3px rgba(160, 160, 160, 0.64);
			box-shadow: 6px 6px 6px -3px rgba(160, 160, 160, 0.64);
			@media (max-width: 992px){margin:0px}

			&--image {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex; 
				-webkit-box-pack:center; 
				    -ms-flex-pack:center; 
				        justify-content:center;
				-ms-flex-line-pack: center;
				    align-content: center; 
				background-color:#fff; 
				margin-top:15px;  
				padding-right:0;
			}

			&--title h3 {
				display: inline-block;
				font-size: 1.375rem;
				font-weight: 700;
				color: #0866b1; // pall-blue
				padding-bottom: 1px;
				border-bottom: 2px solid #e5ecf6;
			}
			&--desc {
				font-weight: 600;
				line-height: 1.75;
				padding-bottom: 1rem;
				border-bottom: 1px solid #e5ecf6;
				margin-bottom: 1.5rem;
			}
			&--industry {
				h3 {
					text-transform: uppercase;
					width: 100%;
					margin: 0 0 0.75rem 0;
				}
				.flex-wrap {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-orient: horizontal;
					-webkit-box-direction: normal;
					-ms-flex-flow: row wrap;
					flex-flow: row wrap;
				}
				.item {
					border-bottom: 0px solid #ddd;
					width: 50%;
					@media (max-width:520px) {width: 100%;}
					padding-bottom: 0.375rem;
					margin-bottom: 0.5rem;
					padding-right: .5rem;
					h4 {
						margin: 0;
						font-weight: bold;
					}
					p {
						margin: 0;
					}
				}
			}

			&--highlights {
				i.fa {
					color: #0866b1; // pall-blue
				}
			}

			&--buy {
				display:-webkit-box;
				display:-ms-flexbox;
				display:flex;
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
				    -ms-flex-flow: row wrap;
				        flex-flow: row wrap;
				-webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				        justify-content: space-between;
				background-color: #e5ecf6;
				padding: 1rem 2rem;
				border-radius: 3px;

				.buy-price {
 					margin-right: 2rem;
				}

				.count {
					color: #0866b1; // pall-blue
					font-weight: 600;
				}

				.btn a {
					color: #fff;
					.icon-left {
						padding: 0 5px;
					}
				}


			}
		}
	}
}
