
.img-responsive {
    display: block;
    height: auto;
	max-width: 100%;
}

@import "../topnav2";
@import "../tabnav";
@import "../variables";
@import "../carousel";
@import "overview";
@import "category-search-results";

html {
	font-size: 100%;
}

@media (min-width: 1200px) {
	.container {
		width: 1260px;
	}
}

@media (max-width: 420px) {
	.hidden-mobile {
		display: none !important;
	}
}

a {
	font-weight: bold;
}
