.category__overview {
	background: #f7f7f7;
	padding-bottom: 1rem;

	.font-xs {
		font-size: 10px;
		margin-top: 6px;
	}

	&__breadcrumbs {
		padding: 8px 0px;
		margin-bottom: 10px;
		margin-top: 1.5rem;
		border-radius: 4px;
		span {
			padding-right: 0.5rem;
		}
	}

	&__image {
		width: 100%;
		max-height: 290px;
		overflow: hidden;

		img {
			max-width: 290px;
		}
	}

	&__promo {
		@media (max-width: 992px) {
			width: 290px;
		}

		margin: 1rem 0;
		padding: 0.5rem;
		background-color: #e6e9f0;
		border-radius: 8px;

		p {
			margin: 0;
		}
		.big {
			font-size: 1.5rem;
			font-weight: 700;
		}
		.code {
			font-size: 1rem;
			font-weight: 700;
			color: #184d9d; // make this pall-blue
		}
	}
	&__applicable {
		h3 {
			margin-bottom: 0.5rem;
		}
		p {
			margin: 0;
		}
	}

	&__title {
		h1 {
			font-size: 1.5rem;
			margin: 0 0 6px 0;
			font-weight: 700;
		}
	}
	&__price {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: baseline;
		    -ms-flex-align: baseline;
		        align-items: baseline;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
		font-size: 0.875rem;
		margin-bottom: 1rem;
		.price {
			font-size: 1.25rem;
		}
	}
	&__documents {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: baseline;
		    -ms-flex-align: baseline;
		        align-items: baseline;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
		margin-bottom: 1rem;
		i {
			font-style: normal;
			display: inline-block;
			padding-left: 1rem;
		}
		a {
			padding-left: 4px;
		}
	}
	&__description {
		margin-bottom: 1rem;
	}

	&__related {
		margin-top: 1.5rem;

		.big {
			padding: 0 15px;
			font-size: 1rem;
			font-weight: bold;
			margin-bottom: 0.5rem;
		}

		.items {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-flow: row wrap;
			        flex-flow: row wrap;
		}
		.item {
			padding: 15px;
			-ms-flex-preferred-size: 25%;
			    flex-basis: 25%;
			@media (max-width:768px) {
				-ms-flex-preferred-size: 50%;
				    flex-basis: 50%;
			}
			  @media (max-width:414px) {
				-ms-flex-preferred-size: 100%;
				    flex-basis: 100%;
			}
			@media (max-width: 550px) {
				margin-bottom: 2rem;
			}
			h4 {
				display: inline-block;
				font-size: 1rem;
				font-weight: bold;
				margin-right: 0.25rem;
				margin-bottom: 0.25rem;
			}
			a {
				display: block;
				text-decoration: underline;
			}
		}
		.item:last-child {
			border-right: none;
		}
	}
}
