#product-page{
  .family-search-result {


        background: url(https://shop.pall.com/INTERSHOP/static/WFS/PALL-PALLUS-Site/-/-/en_US/img/search-result-background.png)
        center top no-repeat;
        padding-top: 25px;

        .switch label .lever {
          background-color: @highlight;
        }

        h3 {
          font-size: 16px;
        }

        .filter-header {
          // new element and class. Top of left filter column
          background: #fff;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          padding: 0.5rem 0.75rem 0.125rem 0.75rem;
      
          h3 {
            display: inline-block;
            margin: 4px 0;
            font-size: 16px;
            font-weight: bold;
          }
          .filter-count {
            font-size: 20px;
            font-weight: bold;
          }
        }

        //  customer support box
        .box-border {
          background-color: white;
          border: 1px solid #CCC;
          border-radius: 5px;
          -webkit-box-shadow: 4px 0px 4px 1px #DDD;
                  box-shadow: 4px 0px 4px 1px #DDD;
          margin-bottom: 30px;
        }

        .cust-support {
          text-align: center;
          padding: 15px 0;
          margin-top:2rem;

          p {font-size: 14px;}

          .img { 
            display: block;
            overflow:hidden;
            margin:-60px auto 0px auto;
            width: 110px;
            height: 110px;
            background: transparent;
            background-image: url(../single-sku/customer-service-hex.png);
            background-position:center center;
            background-repeat:no-repeat;  
          }

          i {
            display: inline-block;
            width: 24%;
            @media (max-width: 1200px) {width: 18%}
            height: 6px;
            border-top: 2px solid @pall-blue;
          }
          h3 { 
            display: inline-block;
            margin-top:0;
            padding: 0 10px;
            color: @pall-blue;
            font-weight:700;
          }
          p.phone {
            font-weight: 600;
          }
          p.email{
            display: inline-block;
            border-bottom: 1px solid @pall-blue; 
            padding:10px 4px 2px 4px;
          }
          .email {
            color: @pall-blue;
            padding-top: 2rem;
          }
        } //  end customer support box


        .top-filter-sort-wrapper {
        background: transparent;
        @media (min-width: 992px) {   padding: 0px;   }

        .filter-text {
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          padding-left:0;
          span{ padding: 4px 10px}

          @media (max-width: 768px) {
            padding-bottom: 1rem;
            span:first-child {width: 100%}
          }
        }

        span {
          font-weight: 600;
        }
        .pipe {
          margin: 0 .5rem;
          line-height: 21px;
        }
      }
      .clear-filters { 
        @media (max-width: 768px) {display: none;}
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        margin: .25rem 0 2rem 0;
        @media (max-width: 992px) {padding-left: 30px;   }
        &-btn {
          @media (max-width: 580px) { 
            -ms-flex-wrap: wrap; 
                flex-wrap: wrap;
            margin-bottom: .5rem;
            }
          font-size: 13px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; 
          -webkit-box-align: center; 
              -ms-flex-align: center; 
                  align-items: center;
          padding: .437rem;
          background-color: @pall-blue;
          color: white;
          margin-right: .5rem;
          border-radius: 3px;
        }
        &-icon {
          width: 1.25rem;
          height: 1.25rem;
          border-radius: 50%;
          background-color: lighten(@pall-blue, 7%);
          text-align: center;
          margin-right: .5rem;
          .fa {
          line-height: 1.25rem;
          }
        }
        &-cat {
          text-transform: uppercase;
          margin: 0px;
        }
        &-name {
          text-transform: capitalize;
          margin: 0px;
          line-height: .75;
        }

      }

      .search-product-list {
        @media (max-width: 992px) {padding:  0 15px;}
      }

      .search__family {

        &__card {
          background-color: #2E71DD;
          margin: 0 0 1rem 0;
          list-style: none;
          border-radius: 5px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -webkit-box-shadow: 0 6px 6px rgba(10,16,20,0.15), 0 0 52px rgba(10,16,20,0.12);
                  box-shadow: 0 6px 6px rgba(10,16,20,0.15), 0 0 52px rgba(10,16,20,0.12);

          .small {
            font-size: 12px;
          }

          &--inner { 
          width: 100%;
          margin: -15px 0 15px 15px;
  
          padding: 0;
          border-radius: 5px;
          background: white;
          -webkit-box-shadow: 0 6px 6px rgba(10,16,20,0.15), 0 0 52px rgba(10,16,20,0.12);
                  box-shadow: 0 6px 6px rgba(10,16,20,0.15), 0 0 52px rgba(10,16,20,0.12);
          
              .product-image-container {
                padding-top:15px;
                text-align: left;
              }

              .product-attributes div {
                padding:0;
                font-size: 12px;
              }
              
              .links {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-flow: column wrap;
                        flex-flow: column wrap; 
                @media (max-width: 992px) {
                  -webkit-box-orient:horizontal;
                  -webkit-box-direction:normal;
                  -ms-flex-flow:row wrap;
                  flex-flow:row wrap;
                }
                @media (min-width: 992px) { height: 100%; }
                background: #f7f7f7;
                padding: 0;
                padding-top: 1rem;

                    div.link {
                      padding: .5rem 0 .5rem 1rem;
                      color: @pall-blue;
                      border-bottom: 1px solid darken(#eee, 3%);
                      @media (max-width: 992px){  width: 25% }
                      @media (max-width: 755px){  width: 50% }
                      @media (max-width: 376px){  width: 100% }

                      .fa { margin-right: 8px; }

                      &:first-child { color:green; }
                      
                    }
              }

          }

        }

      }

        .price-addtocart-block { 
          display: block;
          margin-left: 0px;
          margin-bottom: 5px;
          padding: 0 15px;
          @lineheight: 30px;
          color: white;
          text-align: right;
          @media (max-width: 321px) {padding: 0;}
          .fa {
            display:inline-block;
          }

          div {
            //padding: 0 15px;
            line-height: @lineheight;
          }
        
          .price {
            font-size: 18px;
            margin-right: 10px;
            i {font-size: 13px;}
          }

          .addbox {
            @media (max-width: 414px ) {
              //padding: 0 5px;
            }
          }
          
          .quotes {
            margin-bottom: 15px;
                .quote {
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-pack: justify;
                      -ms-flex-pack: justify;
                          justify-content: space-between;
                  -webkit-box-orient: horizontal;
                  -webkit-box-direction: normal;
                      -ms-flex-flow: row wrap;
                          flex-flow: row wrap;
                  //background-color: #EAEEF7;
                  //border-bottom: 1px solid lightsteelblue;
                  padding: 15px 0 10px 0;

                  .qtnum, .qty, .exp {
                    width: 18%;
                    padding: 0 10px;
                    @media (max-width: 1199px) { width: 17% }
                    @media (max-width: 962px) { width: 15% }
                    @media (max-width: 830px) { width: 17% }
                    @media (max-width: 767px) { width: 30%}
                  }

                  .quote-price {
                    //padding-left: 5px;
                    @media (max-width: 1199px) { width: 17% }
                    @media (max-width: 962px) { width: 15% }
                    @media (max-width: 830px) { width: 15% }
                    @media (max-width: 767px) { width: 75%; text-align: right;padding-right: 15px;}
                    @media (max-width: 674px) { width: 65%; text-align: right;}
                    @media (max-width: 540px) { width: 33%; text-align: right; padding-left: 24px; text-align:left; }
                  }

                  .addbox {
                    @media (max-width: 1199px) { width: 25% }
                    @media (max-width: 962px) { width: 29% }
                    @media (max-width: 830px) { width: 32% }
                    @media (max-width: 767px) { width: 25% }
                    @media (max-width: 674px) { width: 32% }
                    @media (max-width: 540px) { width: 54% }
                  }

                    p {
                      margin: 0;
                      padding: 0;
                      padding-bottom: 8px;
                      line-height: 1.2;
                    }

                    .quote-price>p:nth-child(2) {
                      font-size: 18px;
                      @media (max-width: 767px) {font-size: 18px; padding-top: 6px;}
                      i {
                        font-size: 13px;
                      }
                    }

                    .th {height: 0px;padding: 0;font-weight: 600; color:white;}
                    //(desktop only)
                    @media (min-width: 767px) {          
                        .th { 
                          color:transparent; // hide all column header by default 
                        }
                        &:first-child {
                        .th { height: auto; color: white;} // only show column headers on first row  
                        p { padding-bottom: 12px }
                        }
      
                        div>p:nth-child(2) {
                            padding-top: 6px;
                        }
      
                        .quote-price>p:nth-child(2) {
                            font-size: 18px;
                            @media(max-width: 414px) {font-size: 16px;}
                            i {
                              font-size: 13px;
                            }
                        }
                    }

                    @media (max-width: 767px) {  
                      .th { height: auto; padding-bottom: 8px;}
                      p { padding-bottom: 12px }
                    }
                }
          }


            // qty form input 
          .input-quantity {
            display: inline-block;
            width: 45px;
            height: 28px;
            vertical-align: middle;
            padding:0;
            padding-left: 4px;
            -webkit-box-shadow: none;
                    box-shadow: none;
          }
            

          .btn-primary>span:first-child {
              background-color: darken(@highlight, 5%);
          }

          .addtocart {
              background-color: @highlight;
              @media(max-width:767px) { vertical-align: middle; }
          }
          
        }

            // return to top button - bottom left nav;
            #return-to-top {
              position: fixed;
              bottom: 20px;
              left: 20px;
              width: 50px;
              height: 50px;
            display: block;
            background-color: black;
            text-decoration: none;
            border-radius: 35px;
            display: none;
            -webkit-transition: all 0.3s linear;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            }
            #return-to-top i {
            color: #fff;
            margin: 0;
            position: relative;
            left: 16px;
            top: 13px;
            font-size: 19px;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            }
            #return-to-top:hover {
            background: rgba(0, 0, 0, 0.9);
            }
            #return-to-top:hover i {
            color: #fff;
            top: 5px;
            }
  } 
}
