@import '../topnav2';
@import '../carousel';
@import '../tabnav';
@import '../variables';
@import '../global';
@import 'overview';
//@import '../category/category-search-results';
@import 'family-search-results';

#product-page{
		html {
			font-size: 100%;
		}

		@media (min-width: 1200px) {
			.container {
				width: 1260px;
			}
		}

		@media (max-width: 420px) {
			.hidden-mobile {
				display: none !important;
			}
		}

		a {
			font-weight: normal;
		}
}
