@pall-blue: #0866b1;
@highlight: #bdc205;

.family__overview {
        background: #F7F7F7;

        a {font-size: 16px; font-weight: normal;}

        ul {
            list-style-type: none;
            margin:0;
            padding:0;
          }

        .font-xs { font-size: 9px; margin-top: 6px; }

           &__breadcrumbs { 
            padding: 8px 0px;
            margin-bottom: 10px;
            margin-top: 1.5rem;
            border-radius: 4px;
             span {
                 padding-right: .75rem;
             }
           }

        &__image {
            width: 100%;
            max-height: 350px;
            overflow: hidden; 
  
            img {
                max-width: 350px;
            }
        }

        &__title {
           h1 {
               font-size: 1.5625rem;
               margin:0 0 6px 0;
               font-weight: 700;
           } 
        }
        &__price {
               display:-webkit-box;
               display:-ms-flexbox;
               display:flex; 
                -webkit-box-align:baseline; 
                -ms-flex-align:baseline; 
                align-items:baseline;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-flow: row wrap;
                flex-flow: row wrap;
               font-size: .875rem;
               margin-bottom: 1rem;

               .price {
                   font-size: 1.75rem;
                   margin-right: 1rem;
               }
               a { 
                   font-size: 16px;
                }
           }
        &__documents {
               display:-webkit-box;
               display:-ms-flexbox;
               display:flex; 
               -webkit-box-align:baseline; 
                -ms-flex-align:baseline; 
                align-items:baseline;
               -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
               -webkit-box-orient: horizontal;
               -webkit-box-direction: normal;
                -ms-flex-flow: row wrap;
                flex-flow: row wrap; 
                margin-bottom: 1rem;
                @media (max-width: 500px) {
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-flow: column wrap;
                            flex-flow: column wrap;
                    i {
                        margin-top: 8px;
                    }
                }
               

            .btn-primary {
                border-color: rgba(0,0,0,0.1);
                border-radius: 4px;
                font-size: 14px;
                -webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,0.5) inset;
                box-shadow: 0 0 1px 0 rgba(0,0,0,0.5) inset;
                background-color: #0866b1;
                padding: 4px;
            }
            i {
                font-style: normal;
                display:inline-block; 
                padding-left: 1rem;
                @media (max-width: 500px) { padding-left: 0; }
            }
            a { padding-left: 4px;}
        }
        &__description {
            margin-bottom: 1rem;
        }

        &__highlights {
            background-color: white;
            padding-bottom: 1.5rem; 
            @media (max-width: 500px) { p>span{ float:right; width: 90%;} }
            
            .fa { 
                color: @pall-blue;
                padding-right: 10px;
            }
        }
}