.carousel {
	background: #e6e9f0;
	height: 60px;
	width: 100%;
	margin-top: 86px; // total height of both menus. Pushes it below the menus.
	text-align: center;
	line-height: 60px;
	font-weight: bold;
}
