
#product-page { //CSS namespace for product pages 

    //bootstrap helpers
    .nopad {
        padding: 0 !important;
    }
    nopad-r {
        padding-right: 0 !important;
    }
    nopad-l {
        padding-left: 0 !important;
    }

    a {
        font-size: 16px; 
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        margin:0;
        padding:0;
    }

    // add to cart button overrides
    .btn, .btn-primary {
        //margin-bottom: 19px;
         -webkit-box-shadow: none;
                 box-shadow: none;
      }
      .btn-icon>span:first-child  {
        vertical-align: initial;
      }

      @media (max-width: 767px) {
        .btn-icon>span:last-child  {
          vertical-align: middle;
        }
      } 

      .btn-primary>span:first-child, .btn-primary>span:last-child  {
        background-color: darken(@highlight, 5%);
      }

      .addtocart {
        display:inline-block;
      }

    // category and family pages
    // left filters column accordions
            // css for filter accordions 
            #filter-accordion {
                .filter-group-title {
                  padding: 10px;
                }
    
                .filter-group-title:not(.collapsed) {
                  color: black;
                  background-color: #e5e9ef;
                  border-top: rgb(70, 70, 70);
                  -webkit-transition: all 0.2s ease-in;
                  transition: all 0.2s ease-in;
                }
                .filter-group-title.accordion-toggle::before {
                  content: '\f00d';
                  font-family: 'FontAwesome';
                  float: right;
                  font-size: 16px;
                  color: crimson;
                  -webkit-transform: rotate(0deg);
                  transform: rotate(0deg);
                  -webkit-transition: all 0.2s ease-in;
                  transition: all 0.2s ease-in;
                }
    
                .filter-group-title.accordion-toggle.collapsed::before {
                  color: black;
                  -webkit-transform: rotate(-135deg);
                  transform: rotate(-135deg);
                  -webkit-transition: all 0.2s ease-in;
                  transition: all 0.2s ease-in;
                }
    
                .filter-title {
                  font-size: 16px;
                }
            } // end filter accordian


    // category and family page produc search results 
    // Top of products column, online switch, sorting etc.
	.top-filter-sort-wrapper {
		// exisiting class - changed
		display:-webkit-box;display:-ms-flexbox;display:flex; 
		-webkit-box-pack: justify; 
		-ms-flex-pack: justify; 
		justify-content: space-between;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		padding: 0 0px 0 30px;
		@media (max-width: 992px) {padding-right: 15px;}
		margin-bottom: 10px;

		.switch {
			line-height: 18px;
		}

		.switch-desc {
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
			padding-left: 15px;
		}

		.sort-by {
			padding: 0;
		}
		
		// css for sort by select dropdowm
		.select-chevron {
			// new element. replaces .white-styled select
			position: relative;

			.form-control {
				//exisiting class. changed
				height: 30px;
				border-radius: 5px;
			}

			&:before {
				content: '';
				right: 5px;
				top: 4px;
				width: 23px;
				height: 23px;
				background: white;
				position: absolute;
				pointer-events: none;
				display: block;
			}
			&:after {
				content: '\f0d7';
				font-family: 'FontAwesome';
				font-size: 18px;
				color: #000;
				right: 7px;
				top: 3px;
				padding: 0 1px 2px 7px;
				position: absolute;
				pointer-events: none;
				border-left: 1px solid #ccc;
			}
		} // end css for sort dropdown

	}



    //  slide out panel ============================= //
    .product-slideout {
        @transtime: .5s;
 
        position: fixed;
        top: 100px;
        right: 0px;
        display: inline-block;

        #product-slide-toggle {
            // Hides the checkbox
            position: absolute;
            opacity: 0;
            display: none;
        }
        .panel {
            position: fixed;
            top: 0;
            height: 100%;
            @media (max-width: 768px) {
                right: -80vw;
                width: 80vw;
            } 
            @media (min-width: 769px) {
                right: -30vw;
                width: 30vw;
            } 
        }
        #product-slide-toggle {
            // closed 
            ~ label {
            display: block;   
            -webkit-transition: @transtime transform;   
            transition: @transtime transform;
            background-color: transparent;
            color:transparent; 
            }
        }
        #product-slide-toggle:checked {
            // open
            ~ label {      
                // Active styles
                display: block;  
                background-color: black;
                color: white;
                padding: 6px 10px;
                border-radius: 5px 0px 0px 5px;
                
                text-align: center;
                @media (max-width: 768px) {
                -webkit-transform: translateX(-80vw);
                        transform: translateX(-80vw);
                }
                @media (min-width: 769px) {
                -webkit-transform: translateX(-30vw);
                        transform: translateX(-30vw);
                }
                
                &::before {
                    content: "X"; // Changes word on toggle without markup change
                }
                .text-toggle {
                    display: none; // Changes word on toggle without markup change
                }   
            }
        
            ~ .panel {
                // Slides the panel out
                @media (min-width: 769px) {
                -webkit-transform: translateX(-30vw);transform: translateX(-30vw);
                }
                @media (max-width: 768px) {
                -webkit-transform: translateX(-80vw);transform: translateX(-80vw);
                }
            }
        }

        .panel {
            cursor: pointer;
            background-color: #2E71DD;
            color: white;
            border-left: 1px solid #ededed;
            -webkit-transition: @transtime transform;
            transition: @transtime transform;
            padding: 110px 15px 15px 15px;

            // slide out panel content styling

            // li {
            //     a {
            //         text-decoration: none;
            //         padding: 20px;
            //         display: block;
            //         border-bottom: 1px solid #ccc;
            //         }
            //     }

            }

        }
}