@color-bg: #fff;

html {
	scroll-behavior: smooth;
}

nav.tabs {
	height: 43px;
	background: white;
	z-index: 1030;
	position:relative;
	-webkit-transition: top 0.2s ease-in-out;
	transition: top 0.2s ease-in-out;
  
		ul {
		list-style-type:none;
		margin:0;
		padding:0;
		text-align: center;
		}
  
		li {
		display:inline-block;
		}
  
		li a {
		display:block;
		height: 43px;
		line-height: 43px;
		text-align: center;
		padding: 0 1rem;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: black;
		background: white;
		text-decoration: none;
		}
  
		li.active {
			border-bottom: 3px solid @pall-blue;
			a {
			color: @pall-blue;
			}
			// mobile
			@media(max-width: 768px){
				border-bottom: 0px;
				a {
				background: #EDEDED;
				color: @pall-blue;
				}
			}
		}

		li:hover a {
		background: #EDEDED;
		cursor: hand;
		}
  
			// Make dropdown links vertical 
		li ul li {
		display: block;
		}
  
		// mobile menu... hide it by default
		.show-menu {
			display: none;
			margin-bottom: 0;
		}

		@media (min-width: 768.01px){ 
			#menu {display: block} // show desktop
			#menu-mobile {display: none} // hide mobile
		}
  
		/// Mobile Styles
		@media screen and (max-width : 768px){

			#menu {display: none} // hide desktop menu

		  ul {
			position: static;
		  }
		  li {
			border-bottom:1px solid #CCC;
		  }
		  ul li, li a {
			width: 100%;
			padding:0;
		  }
		  // Display 'show menu' 
		  label.show-menu {
			display:block;
			border-bottom: 1px solid #CCC;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			color: black;
			font-weight: 700;
			background: white;
			text-align: center;
			padding: 10px 0;
		  }
		}
	}
	
  
  // fixed position the tab nav on downward scroll. (added via js)
  #tabnav.nav-docked { 
	  position: fixed;
	  width: 100%;
	  top: 43px;
	  left: 50%;
	  z-index: 10;
	  -webkit-transform: translate(-50%, 0);
			  transform: translate(-50%, 0);
  }


// toggles the mobile slide down menu
	#checkbox-toggle {
		display: none; /* hide the checkbox */
	}
	#menu-mobile { 
		height: 0px;
		overflow:hidden;
		-webkit-transition: height 0.3s ease-in-out;
		transition: height 0.3s ease-in-out;
	}
	#checkbox-toggle:checked ~ #menu-mobile {
		height: 100vh;
	}