@media (min-width: 1200px) {
	.topnav2__container {
		width: 1260px;
		margin: auto;
		background: transparent;
		height: 2px;
	}
}

.topnav2__nav {
	height: 43px;
	background: black;
	color: white;
	line-height: 43px;
	position: relative;
}
